.no-display {
    display: none;
}

.dt-control {}

.table {
    tbody {
        tr {
            td {
                [data-fancybox] {
                    cursor: pointer;
                    &:hover {
                        opacity: 0.7;
                    }
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

.candidate-div {
    display: none;
}

.candidate-1 {
    display: block;
}

.cand-name {
    cursor: pointer;
}

.brand-link .brand-image {
    margin-top: 0;
    box-shadow: none !important;
    border-radius: 0;
}

.card-img,
.card-img-top {
    width: 200px !important;
    height: 200px;
    place-self: center;
}